// custom setting
$body-font-color: #444;
$body-font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS UI Gothic', 'Lucida Grande', sans-serif;

// custom css-------------------

//base
h1, h2, h3, h4, h5, h6 {
	color:$body-font-color;
	font-family:$body-font-family;
}
.full{
	width: 100%; 
}
.mb{
	margin-bottom: 50px;
}
.np{
	padding: 0;
}
img.left{
	margin-right: 10px;
}
img.right{
	margin-left: 10px;
}

//layout
.cover{
	background-color: #fedeef;
	padding: 40px 0;
	width: 100%;
	overflow: hidden;
	.title{
		color: #fff;
	}
}
.site-footer{
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	.row{
		margin-bottom: 0;
	}
	a{
		color: #fff;
		&:hover{
			text-decoration: underline;
		} 
	}
}

.main-img{
	padding: 200px 0;
	background-color: #fff6cf;
}
.title{
	text-align: center;
	margin-bottom: 40px;
}
.panel.np {
	p,h4{
		padding: 10px 10px 0 10px;
		margin: 0;
	}
}